<div class="header-toolbar">
  <button class="button"
          (click)="navigateToLanding()"
          id="CV">
    Home
  </button>
  <button class="button"
          (click)="navigateToCalculator()"
          id="launch-calculator">
    Learn to Automate
  </button>
  <button *ngIf="showDownload"
          class="button"
          (click)="OnDownloadPdfClick()"
          id="download-pdf">
    Download CV
  </button>
  <div class="icon-container">
    <img class="img-size" src="assets/PSQA.png" alt="Icon">
  </div>
</div>

