.button {
  background-color: #11111f;
  color: #fff;
  border-radius: 10px;
  border: none;
  padding: 16px 16px 16px 16px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  margin: 0 2% 0 0;
    &:hover {
      color: #333;
      background-color: #84bd01;
    }
}
.header-toolbar {
  background-color: #11111f;
  color: #fff;
  padding: 10px;
  display: flex;
  max-height: 5%;
}

.para {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  line-height: 1.4;
  color: #333;
}

/* //-- footer -- */
#ft {
  padding: 1% 0 5% 0;
  font-size: 92%;
  text-align: center;
  background-color: #11111f;
  color: #fff;
  min-height: 100%; /* Minimum height to ensure the background extends to the bottom */
}
#ft a {
  color: #84bd01;
}

/* Add a pseudo-element to fill remaining space if needed */
#ft:after {
  content: "";
  display: block;
  height: 100%; /* Fill the remaining space to the bottom */
}
