<header>

  <div id="hd">
    <div class="add-small-spacing">
        <h1>Peter Simons</h1>
        <h2>QA Lead</h2>

        <div class="contact-info">
          <h3><button class="button" (click)="OnDownloadPdfClick()" id="download-pdf">Download PDF</button></h3>
          <h3><a href="mailto:petergsimons@gmail.com">petergsimons@gmail.com</a></h3>
          <h3><a href="https://www.linkedin.com/in/peter-simons-5b263abb/">LinkedIn</a></h3>
        </div><!--// .contact-info -->
    </div><!--// .yui-gc -->
  </div><!--// hd -->
</header>

<body>
<div id="pscv" class="yui-t7">
  <div id="inner">

    <div id="main-cv">
          <div class="add-small-spacing">
              <h2>Profile</h2>
              <p>
                lorem ipsum
              </p>
          </div>
          <div class="add-small-spacing">
              <h2>Skills</h2>
              <div class="talent">
                <h2>Testing</h2>
                <p>Can check stuff works</p>
              </div>

              <div class="talent">
                <h2>Software Development</h2>
                <p>Can build things</p>
              </div>

              <div class="talent">
                <h2>Project Management</h2>
                <p>Can heard cats</p>
              </div>
          </div>
          <div class="add-bottom-padding">
              <h2>Technical</h2>
            </div>
              <ul class="talent">
                <li>UI Automation</li>
                <li>Api Automation</li>
                <li class="last">Load Automation</li>
              </ul>

              <ul class="talent">
                <li>C#</li>
                <li>Typescript</li>
                <li class="last">Javascript</li>
              </ul>

              <ul class="talent">
                <li>CI/CD Pipelines</li>
                <li>Framework Creation</li>
                <li class="last">Technical Trainer</li>
              </ul>
          <div class="add-small-spacing">

            <div class="experience">
              <h2>Experience</h2>

              <div class="job">
                <h2>place</h2>
                <h3>title</h3>
                <h4>time</h4>
                <p>what you did</p>
              </div>

              <div class="job">
                <h2>place</h2>
                <h3>title</h3>
                <h4>time</h4>
                <p>what you did</p>
              </div>

              <div class="job">
                <h2>place</h2>
                <h3>title</h3>
                <h4>time</h4>
                <p>what you did</p>
              </div>

              <div class="job">
                <h2>place</h2>
                <h3>title</h3>
                <h4>time</h4>
                <p>what you did</p>
              </div>

            </div><!--// .yui-u -->
          </div>
    </div>
  </div><!-- // inner -->
</div><!--// doc -->
</body>


<footer>
  <div id="ft">
    <p>
      Peter Simons &mdash;
      <a href="mailto:petergsimons@gmail.com">petergsimons@gmail.com</a> &mdash;
      <a href="https://www.linkedin.com/in/peter-simons-5b263abb/">LinkedIn</a>
    </p>
  </div>
</footer>
